

.form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
   background-color: rgba(0, 0, 0, 0.048);
  margin: 102px auto;
  padding: 20px;
  width: 80%;

  border: 2px solid white;
  border-radius: 10px;
    
}